/* styles.css */

body {
    color: black;
    background-color: #99ff99;
}

img {
    height: auto;
    width: 400px;
}

.corpo {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    background-color: aqua;
}



div {
    padding: 5px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
    border: 0x solid #ffcc5c;
    display: flex;
    flex-direction: row;
  }

  .container > div:nth-child(1) {
    background-color: #96ceb4;	
  }
  
  .container > div:nth-child(2) {
    background-color: #ff6f69;
  }
  
  .container > div:nth-child(3) {
    background-color: #88d8b0;
  }
  
  .container > div:nth-child(4) {
    background-color: #ff6f69;
  }
  


  